{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}


<style>
   table {
    width: 20%; /* Ширина таблицы */
    border: 4px double black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
   }
   th {
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
   td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
  </style>
<table class="section" >
    {% for section in sections %}
    <tr><td ><a>{{section.name}}</a></td></tr>
    {% endfor %}
    <tr><td >
        <form class="container" action="{% url 'memo:add_section' goal.id %}">
            <button>Add Section</button>
        </form>
    </td></tr>
</table>



    <tr>
        <td>
            <form class="container" action="{% url 'lesson:start_lesson' goal.id %}">
                <button>Start lesson</button>
            </form>
        </td>
    <tr>



{% endblock %}