{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}


<!--<form class="container" method="POST">-->
<!--    <input type="submit" value="submit">-->
<!--    {% csrf_token %}-->
<!--</form>-->
<!--{% if %}-->
<!--{% endif %}-->
<!--{% for %}-->
<!--{% endfor %}-->

<!--{% if %}-->
<!--{% endif %}-->

{% for section in sections %}
{{section}}
{% endfor %}

{% for theme in themes %}
{{theme}}
{% endfor %}

{% for goal in goals %}
{{goal}}
{% endfor %}


    <tr>
        <td>
            <form class="container" action="{% url 'lesson:start_lesson' goal.id %}">
                <button>Start lesson</button>
            </form>
        </td>

<!--        <td>-->
<!--            <form class="container" action="#">-->
<!--                <button>Repeat</button>-->
<!--            </form>-->
<!--        </td>-->
<!--    </tr>-->



{% endblock %}