{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

{% if profile %}

<table class="profile" >

         <tr>
             <img src="{{ post.profile.image.url }}" alt="img">
             <td ><a>{{profile.user.username}}</a></td>
             <td ><a>{{profile.user.firstname}}</a></td>
             <td ><a>{{profile.user.lastname}}</a></td>
             <td ><a>{{profile.user.email}}</a></td>
             <td ><a>{{profile.user.date_joined}}</a></td>
         </tr>

</table>


{% endif %}

{% endblock %}