#[run]
#omit =
#    */tests/*
#    */migrations/*
#    */staticfiles/*

[run]
    branch = True
    source = .
    omit =
        /home/alex/PycharmProjects/SuperMemo/src/account/migrations/*
        /home/alex/PycharmProjects/SuperMemo/src/account/tests/*
        /home/alex/PycharmProjects/SuperMemo/src/account/__init__.py

        /home/alex/PycharmProjects/SuperMemo/src/memo/migrations/*
        /home/alex/PycharmProjects/SuperMemo/src/memo/tests/*
        /home/alex/PycharmProjects/SuperMemo/src/memo/__init__.py

        /home/alex/PycharmProjects/SuperMemo/src/lesson/migrations/*
        /home/alex/PycharmProjects/SuperMemo/src/lesson/tests/*
        /home/alex/PycharmProjects/SuperMemo/src/lesson/__init__.py

        /home/alex/PycharmProjects/SuperMemo/src/media/*
        /home/alex/PycharmProjects/SuperMemo/src/staticfiles/tests/*
        /home/alex/PycharmProjects/SuperMemo/src/src/__init__.py
        /home/alex/PycharmProjects/SuperMemo/src/src/asgi.py
        /home/alex/PycharmProjects/SuperMemo/src/src/settings.py
        /home/alex/PycharmProjects/SuperMemo/src/src/wsgi.py

        */__init__.py